 body{
            padding-top: 10px;
            padding-left: 250px;
            padding-right:250px;
            background-color: bisque;
            
        }
        h1{
            text-align: center;
        }
       #container{
        background-color: #a0fabb;
        text-align: center;
       border-radius: 10px;
       border-style: inset;
       border-color: black;
       border-width: 5px;
        padding: 50px;

       }
       .input-div{
        display: inline-block;
       }
       .inp{
        padding: 5px 10px;
        margin: 10px;
        font-size: 20px;
        width: 250px;
        font-weight: bold;
        text-align: center;
       }
       label{
        font-size: 25px;
         }